@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Tag;

<h4>Edit Tag:</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TagId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br>
    @Html.LabelFor(model => model.Details)
    @Html.EditorFor(model => model.Details)
    <br>
    @Html.Label("Select recipe")
    @Html.DropDownList("RecipeId")
    <br>
    <input type="submit" value="Edit tag" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all tags", "Index", "Tags")</p>